@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@media only screen and (max-width: 600px) {
    div[hidden="false"] {
        height: auto;
    }

    div[hidden="false"] > div {
        width: 100%;
        padding: 0 10px; /* Ajustez les marges selon vos besoins */
    }
}
